<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JFScrollDegree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>492EB1B91D33C9F20020293F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492EB1D21D33C9F30020293F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492EB1DD1D33C9F30020293F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
